# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (keep raw data local unless you want to share it)
data/*.parquet
